<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Detail</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/topo.css}"/>
</head>
<body>
<!-- menu -->
<header>

    <!-- Menu -->
    <div class="row">

        <nav class=" col navbar navbar-expand-lg navbar-dark bg-dark">

            <!-- Le logo du menu -->
            <a class="navbar-brand" th:href="@{/espace/accueil}">Mon Espace Perso  </a>

            <!-- btn bascule de navigation -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- liens du menu  -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/espace/accueil}"> Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/topo/liste(id=${user.id})}">Mes Topos</a>
                    </li>
                </ul>
            </div>


        </nav>
    </div>
</header>



<div class="container">


    <!-- Titre -->
    <div class="row">

        <div class="col-12 jumbotron" >
            <h1 th:utext="${topo.nom}" style="text-align: center">  </h1>
        </div>

    </div>

    <!-- Topo detail -->
    <div class="detail">

        <!-- Le topo -->
        <div class="row" >

            <table border="1">
                <tr>
                    <th>Visibilité</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Date Création</th>
                </tr>

                <tr>
                    <td>
                        <ul th:utext="${topo.visible}" >...</ul>
                    </td>
                    <td>
                        <ul th:utext="${topo.nom}">...</ul>
                    </td>

                    <td>
                        <ul th:utext="${topo.description}">...</ul>
                    </td>
                    <td>

                        <ul th:utext="${#dates.format(topo.date_creation, 'dd-MM-yyyy')}">...</ul>
                    </td>
                </tr>
            </table>


        </div>


    </div>




    <!-- Partie Site -->
    <div class="row">

        <div class="col-12 jumbotron" >
            <h1 style="text-align: center"> les sites   </h1>
        </div>

    </div>


    <div class="detail">
        <!-- Les sites du topo -->
        <div class="row">
            <table border="1">
                <tr>
                    <th>Nom</th>
                    <th>Region</th>
                    <th>Adresse</th>
                </tr>

                <tr th:each = "site :${listeSite}">
                    <td>
                        <a th:href="@{/espace/detailSite(id=${site.id})}"  th:utext="${site.nom}">Nom</a>
                    </td>
                    <td>
                        <ul th:utext="${site.region}"></ul>
                    </td>
                    <td>
                        <ul th:utext="${site.adresse}"></ul>
                    </td>
                </tr>
            </table>

        </div>

    </div>




</div>

<!-- footer-->
<div class="footer">
    <p>footer</p>
</div>






<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>