<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${voie.nom}"></title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/detail.css}"/>

</head>
<body>

<!-- menu -->
<header>
    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">

        <!-- Le logo du menu -->
        <a class="navbar-brand" th:href="@{/}">
            Accueil
        </a>

        <!-- btn bascule de navigation -->
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- liens du menu  -->
        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav  mr-auto mt-2 mt-lg-0 ">

                <!-- btn topo-->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/topo/liste(id=${user.id})}">Mes Topos</a>
                </li>

                <!-- btn login -->
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/security/login}">Login</a>
                </li>

                <!-- btn inscription -->
                <li class="nav-item " sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/security/registration}">S'inscrire</a>
                </li>

                <!-- Reservation  -->
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/espace/reservation(id=${user.id})}">Reservations</a>
                </li>

                <!-- btn logout -->
                <li class="nav-item " sec:authorize="isAuthenticated()">
                    <form  class="nav-link" th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout"/>
                    </form>
                </li>

            </ul>


            <form class="form-inline my-2 my-lg-0" th:action="@{/search/topo}">
                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Recherche</button>
            </form>
        </div>

    </nav>
</header>


<div  class="container">


    <!-- Partie titre -->
    <div class="row cadre-title">

        <div class="titre2" th:utext="${voie.nom}">

        </div>

    </div>



    <!-- Info Voie -->
    <div class="row cadreDetail">

        <div class="presentation">
            <p>Nom : <strong th:utext="${voie.nom}"></strong></p>
            <p>Cotation : <strong th:utext="${voie.cotation}"></strong></p>
        </div>
    </div>



    <div class="row ligne-button">
        <button type="button" class="btn btn-outline-light">
            <a th:href="@{/espace/reservation(id=${user.id})}">Retour Reservation </a>
        </button>
    </div>






</div>

<!-- footer-->
<div class="row footerIntro">
    <div class="col-6" >
        <p class="copyrigth">Copyright © 2021, All Right Reserved</p>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-light btn-footer">
            <a th:href="@{/intro/index}">Home</a>
        </button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-outline-light btn-footer">
            <a th:href="@{/security/login}">Login</a>
        </button>
    </div>
</div>




<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>