body{

    background-image: url("/image/background-reservation.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


nav
{
    background-color: rgb(203, 153, 126) ;
}


.nav-item
{
    margin-left: 20px;


}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    background-color: rgba(240,239,235,0.8);
}


/**Titre pour les présentations d'une liste**/
.titre2
{
    font-size: 40px;
    border-style: groove;
    border-top: none;
    border-right: none;
    border-left: none;

}

.cadre-title
{
    background-color: rgba(240,239,245,0.4);
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}




/**--------------- Liste  **/
.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td{
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 15px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(221,190,169,0.9);
    color: white;
    font-size: 20px;
}



.fondComment
{
    background-color: rgba(36,128,208,0.3);
    border-style: outset outset solid inset;
    border-color: bisque;

}


/**------------------------Cadre Liste **/
.cadre-liste
{
    width: auto;
    height: 400px;
    padding-top: 20px;
    overflow: auto;
    justify-content: center;

}

/**----------------------- Footer*/
.footerIntro
{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(203,153,126,0.9);
    color: white;
    text-align: center;
    margin-left: 0;

}
.copyrigth
{
    font-size: 25px;
    border-style: groove;
    border-top: none;
    border-right: none;
    border-left: none;
    margin: 25px;
}

.btn-footer
{
    font-size: 20px;
    margin-top: 20px;
}



/**-----------------------Reservation **/



