<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <title>Liste Voie</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>

<!-- menu -->
<header>

    <!-- Menu -->
    <div class="row">

        <nav class=" col navbar navbar-expand-lg navbar-dark bg-primary">

            <!-- Le logo du menu -->
            <a class="navbar-brand" th:href="@{/}">Mon Espace Perso  </a>

            <!-- btn bascule de navigation -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- liens du menu  -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}"> Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/topo/liste}">Mes Topos</a>
                    </li>
                </ul>
            </div>


        </nav>
    </div>
</header>



<!-- Corps de la page -->
<div class="container">

    <!-- Partie titre -->
    <div class="row">

        <div class="col-12 jumbotron" >
            <h1>liste des voies  </h1>
        </div>

    </div>

    <!-- liste des Voies  -->

    <div class="detail">
        <div class="row">
            <table border="1">
                <tr>
                    <th>Nom</th>
                    <th>Cotation</th>
                </tr>

                <!-- pour chaque personne -->
                <tr th:each ="voie : ${liste}">

                    <!-- on affiche le prenom et nom-->

                    <td>
                        <h1 th:utext="${voie.nom}">...</h1>
                    </td>

                    <td>
                        <a th:utext="${voie.cotation}" th:href="@{/voie/detail(id=${voie.id})}">...</a>
                    </td>
                </tr>



            </table>
        </div>

    </div>

    <!-- btn -->
    <div class="row">
        <!-- btn Ajout Liste  -->
        <div class="col">
            <button type="button" class="btn btn-light">

                <a th:href="@{/voie/ajout(id=${site.id})}"  >Ajout voie   </a>
            </button>
        </div>

        <!-- btn Retour Site -->
        <div class="col">
            <button type="button" class="btn-light">
                <a th:href="@{/site/detail(id=${site.id})}">Retour Site </a>
            </button>
        </div>

    </div>


</div>


<!-- footer-->
<div class="footer">
    <p>footer</p>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>

</html>