<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>


<head>
    <title>Detail</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link th:href="@{/css/main.css}"  rel="stylesheet"/>

</head>
<body>



    <!-- menu -->
    <header>

        <!-- Menu -->
        <div class="row">

            <nav class=" col navbar navbar-expand-lg navbar-dark bg-primary">

                <!-- Le logo du menu -->
                <a class="navbar-brand" th:href="@{/}">Accueil </a>

                <!-- btn bascule de navigation -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- liens du menu  -->
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <!-- btn espace perso -->
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/espace/accueil}">Mon Espace Perso </a>
                        </li>

                        <!-- btn login -->
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link" th:href="@{/security/login}">Login</a>
                        </li>

                        <!-- btn inscription -->
                        <li class="nav-item " sec:authorize="isAnonymous()">
                            <a class="nav-link" th:href="@{/security/registration}">S'inscrire</a>
                        </li>

                        <!-- btn logout -->
                        <li class="nav-item " sec:authorize="isAuthenticated()">
                            <form  class="nav-link" th:action="@{/logout}" method="post">
                                <input type="submit" value="Logout"/>
                            </form>

                        </li>

                    </ul>
                </div>

            </nav>
        </div>


    </header>

<!-- Contenu -->
<div class="container">

    <!-- Partie hero -->
    <div class="row">

        <div class="col-12 jumbotron" sec:authorize="isAnonymous()">
            <h1> Detail Topo  </h1>
        </div>

        <div class="col-12 jumbotron" sec:authorize="isAuthenticated()">
            <h2> Bienvenue <h1 sec:authentication="name"></h1> </h2>
        </div>

    </div>


    <!-- Topo titre -->
    <div class="row">
        <h1 class="detail">Topo info  </h1>
    </div>


    <!-- Topo info -->
    <div class="row">
        <table border="1">
            <tr>
                <th>Visibilité</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Date Création</th>
            </tr>

            <tr>
                <td>
                    <ul th:utext="${topo.visible}" >...</ul>
                </td>
                <td>
                    <ul th:utext="${topo.nom}">...</ul>
                </td>

                <td>
                    <ul th:utext="${topo.description}">...</ul>
                </td>
                <td>

                    <ul th:utext="${topo.date_creation}">...</ul>
                </td>
            </tr>
        </table>
    </div>

    <!-- Btn retour accueil Intro -->
    <div class="row">
        <button type="button"  class="btn btn-dark">

                <a th:href="@{/}">Accueil</a>

        </button>
    </div>

    <!-- Site  titre -->
    <div class="row">
        <h1 class="detail">Site Liste  </h1>
    </div>

    <!-- Site Liste-->
    <div class="row">
        <table class="detail" border="1">
            <tr>
                <th>Région</th>
                <th>Nom</th>
                <th>Adresse</th>
            </tr>

            <!-- pour chaque site  -->
            <tr th:each ="site : ${liste}">

                <!-- on affiche le prenom et nom-->
                <td>
                    <h1 th:utext="${site.region}">Région</h1>
                </td>

                <td>
                    <a th:utext="${site.nom}" th:href="@{/intro/detailSite(id=${site.id})}">Nom</a>
                </td>
                <td>
                    <h1 th:utext="${site.adresse}">Adresse</h1>
                </td>
            </tr>
        </table>
    </div>

</div>

<!-- footer-->
<div class="footer">
    <p>footer</p>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>

</html>