<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>


<head>
    <title th:utext="${topo.getNom()}"></title>
    <meta charset="utf-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link th:href="@{/css/detail.css}"  rel="stylesheet"/>

</head>
<body>




    <!-- menu -->
    <header>

        <!-- Menu -->
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">

            <!-- Le logo du menu -->
            <a class="navbar-brand" th:href="@{/}">
                Accueil
            </a>

            <!-- btn bascule de navigation -->
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- liens du menu  -->
            <div class="collapse navbar-collapse" id="navbarContent">

                <ul class="navbar-nav  mr-auto mt-2 mt-lg-0 ">


                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/intro/topo}">Topos</a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" th:href="@{/intro/site}">Sites</a>
                    </li>

                    <!-- btn espace perso -->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/espace/accueil}">Mon Espace Perso </a>
                    </li>

                    <!-- btn login -->
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/security/login}">Login</a>
                    </li>

                    <!-- btn inscription -->
                    <li class="nav-item " sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/security/registration}">S'inscrire</a>
                    </li>

                    <!-- btn logout -->
                    <li class="nav-item " sec:authorize="isAuthenticated()">
                        <form  class="nav-link" th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout"/>
                        </form>
                    </li>

                </ul>

                <form class="form-inline my-2 my-lg-0" th:action="@{/search/topo}">
                    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>

        </nav>
    </header>

    <!-- Contenu -->
    <div class="container">

        <!-- Si connécté - Message d'accueil  -->
        <div class="row cadreMessage" sec:authorize="isAuthenticated()">

            <div class="col-12 jumbotron" >
                <p>Bienvenue <strong sec:authentication="name" ></strong></p>
            </div>
        </div>


        <!-- Partie hero -->
        <div class="row cadre-title">
            <div class="titre2" >
                <p th:utext="${topo.getNom()}"></p>
            </div>
        </div>



        <!-- Topo info -->
        <div class="row cadreDetail">

            <div class="presentation">
                <p>Nom : <strong th:utext="${topo.nom}"></strong></p>
                <p>Par : <strong th:utext="${topo.getUser().getUsername()}"></strong></p>
                <p>Le : <strong th:utext="${#dates.format(topo.date_creation, 'dd-MM-yyyy')}"></strong></p>
                <p>Descriptions : </p>
                <p th:utext="${topo.getDescription()}"></p>
            </div>


        </div>


        <!-- Btns -->
        <div class="row ligne-button">
            <!-- Btn retour accueil Intro -->
            <div class=" button-detail">
                <button type="button"  class="btn btn-outline-light">
                    <a th:href="@{/}">Accueil</a>
                </button>
            </div>

            <div class="button-detail">
                <button type="button" class="btn btn-outline-light">
                    <a th:href="@{/intro/topo}">Topos Partagés</a>
                </button>
            </div>

            <!-- Si le topo n'appartient pas a l'UC -->
            <div class="col" sec:authorize="isAuthenticated()"  th:if="${isMine == false}">
                <button type="button"  class="btn btn-dark">
                    <a th:href="@{/reservation/demande(id=${topo.id})}">Demande de Réservation</a>
                </button>
            </div>
        </div>

        <!-- Site  titre -->
        <div class="row cadre-title">
            <div class="titre2">
                Les Sites
            </div>
        </div>

        <!-- Site Liste-->
        <div class="row liste-detail">
            <table class="customers" border="1">
                <tr>
                    <th>Région</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                </tr>

                <tr th:each ="site : ${liste}">

                    <td>
                        <p th:utext="${site.region}">Région</p>
                    </td>

                    <td>
                        <a th:utext="${site.nom}" th:href="@{/intro/detailSite(id=${site.id})}">Nom</a>
                    </td>
                    <td>
                        <p th:utext="${site.adresse}">Adresse</p>
                    </td>
                </tr>
            </table>
        </div>

    </div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



</body>

</html>